@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

main {
    height: 100vh;
    width: calc(100vw - 5em);
    max-width: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    color: #F97316;
    font-size: 1.2rem;
}

a:not(:hover) {
    color: grey;
}

a:hover {
    cursor: pointer;
    /*-webkit-transform: scale(1.5);*/
    transition: .5s;
    /*border-bottom: 1px solid #F97316;*/
}