@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

:root {
  --darkgreen: #001920;
  --darkblue: #00345b;
  --lightblue: #00a7e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: visible;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: var(--darkgreen);
  background-color: #ffffff;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

div,
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.dark {
  color: #ffffff;
  background-color: var(--darkgreen);
}

.container-body {
  position: relative;
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
}

header > div {
  width: min(100vw - 2em, 1180px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--lightblue);
}

main {
  height: 80vh;
  width: min(100vw - 2em, 1180px);
  margin-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

.animasi-teks {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: animasi-ketik 1s steps(70, end);
  animation: animasi-ketik 1s steps(70, end);
}

@keyframes animasi-ketik {
  from {
    width: 0;
  }
}
@-webkit-keyframes animasi-ketik {
  from {
    width: 0;
  }
}

.particle {
  animation: rotate 10s infinite normal none;
  -webkit-animation: rotate 10s infinite normal none;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}


.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #FFFFFF;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--darkblue) transparent var(--darkblue) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img-contact {
  filter: invert(9%) sepia(21%) saturate(2596%) hue-rotate(151deg) brightness(95%) contrast(104%);
}